<!DOCTYPE html>
<html lang="en">
<head>
    <meta name='viewport' content="width=device-width initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h1 class="header">Adopt a Dog!</h1>
                    <button><a href="/cars">Show me Cars!</a></button>
                    <button><a href="/dogs">Show me Dogs!</a></button>
                    <br><br>
                    <button><a href="/">Take Me Home!</a></button>
                </div>
           </div>
       </div>
        <div class="row">
            <div class="col-md-12">
                <form action="/dogs" method="post">
                    New Friend: <input type="text" placeholder="Breed">
                    <input type="text" placeholder="Size">
                    <input type="text" placeholder="Age">
                    <br><br>
                    <input type="submit" value="Adopt">
                </form>
                
            </div>
        </div>
    </div>
</body>
</html>