<!DOCTYPE html>
<html lang="en">
<head>
    <meta name='viewport' content="width=device-width initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h1 class="header">Dogs</h1>
                    <button><a href="/cars">Show me Cars!</a></button>
                    <br><br>
                    <button><a href="/">Take Me Home!</a></button>
                    <br><br>
                    <button><a href="/newcar">Adopt a Dog!</a></button>
                </div>
           </div>
       </div>
        <div class="row">
            <div class="col-md-6 left box">
                <img src="images/chop.jpg" class="img-thumbnail" alt="dog1" width="300" height="300">
                <img src="images/dog2.jpg" class="img-thumbnail" alt="dog2" width="300" height="300">
            </div>
            <div class="col-md-6 right box">
                <img src="images/dog3.jpg" class="img-thumbnail" alt="dog3" width="300" height="300">
                <img src="images/dog4.jpg" class="img-thumbnail" alt="dog4" width="300" height="300">
            </div>
        </div>
    </div>
</body>
</html>